@mixin center-enabler {
  position: relative;
  text-align: center;
}

@mixin internal-text {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 42px;
}

@mixin mQ($arg){
  @media screen and (min-width: $arg){
    @content;
  }
}

body {
  background: url("../assets/img/background-mountains.png");
  background-size: cover;
  background-repeat: no-repeat;
  max-height: 255vh;
  min-height: 100vh;
  margin: 0 1%;
  font-family: athelas;
  @include mQ(1400px){
    margin: 0 9%;
  }
}

p {
  color: #50E3C2;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

a {
  text-decoration: none;
}

h1 {
  color: #ff7842;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

span {
  color: #ff7842;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

img {
  border-radius: 8px;
}

.travel-wiz {
  color: #ff7842;
}

.staff {
  height: 40px;
  width: 40px;
  -webkit-transition: -webkit-transform 2s;
  transition: transform 2s;
}

.staff:hover {
  -webkit-transform: rotate(720deg);
  transform: rotate(720deg);
}

.title-bit {
  font-style: normal;
  font-weight: 400;
  font-family: times;
  font-size: 38px;
}

.black-pill {
  p {
    padding: 15px 5px;
    background: rgba(0,0,0,0.6);
    border-radius: 8px;
  }
  @include mQ(1400px){
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 320px;
  }
}

// Specific to index.html //

.index-navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  p {
    font-size: 32px;
    font-style: italic;
    font-weight: bold;
    font-family: fantasy;
    color: #ff7842;
  }
  a:hover {
    color: green;
    opacity: 0.7;
  }
  @include mQ(1400px){
    justify-content: space-between;
    width: 1050px;
    margin: 0 auto;
  }
}

.index-main-image {
  @include center-enabler;
}

.index-center {
  position: absolute;
  top: 25%;
  left: 35%;
  transform: translate(-50%, -50%);
  font-size: 40px;
  font-style: italic;
}

#index-main {
  max-width: 800px;
  @include mQ(1400px){
    width: 800px;
    border-radius: 15px 0 0 15px;
  }
}

#clifftop {
  @include mQ(1400px){
    border-radius: 0 15px 0 0;
  }
}

#castletop {
  @include mQ(1400px){
    border-radius: 0 0 15px 0;
  }
}

.index-top-container {
  @include mQ(1400px){
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-column-gap: 0px;
  width: 1050px;
  margin: 0 auto;
  }
}

.index-below {
  max-width: 400px;
  display: block;
  margin: 0 auto;
  text-align: center;
  p {
    font-size: 40px;
    font-weight: bold;
    font-style: italic;
    color: #ff7842;
  }
}

.index-hidden {
  display: none;
  @include mQ(1400px) {
      display: block;
      width: 350px;
      height: 259px;
  }
}

.bottom-grid {
  text-align: center;
  p {
    z-index: 1;
  }
  img {
    width: 450px;
    height: 300px;
  }
  img:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  @include mQ(1400px) {
    display: grid;
    grid-template-columns: 450px 450px 450px;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: center;
    background-image: url(../assets/img/celtic-spiral.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 800px;
  }
  #how-to-join-segment {
    @include mQ(1400px) {
      grid-column-start: 2;
    }
    @include center-enabler;
    p {
      @include internal-text;
    }
  }
  #desk {
    padding-top: 1%;
    @include mQ(1400px) {
      grid-row-start: 2;
      padding-top: 8%;
    }
    @include center-enabler;
    p {
      @include internal-text;
    }
  }
  #laptop {
    padding-top: 1%;
    @include mQ(1400px) {
      grid-column-start: 3;
      grid-row-start: 2;
      padding-top: 8%;
    }
    @include center-enabler;
    p {
      @include internal-text;
    }
  }

}

// Specific to amenities.html and contact.html //

.amcu-navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  p {
    font-size: 32px;
    font-style: italic;
    font-weight: bold;
    font-family: fantasy;
  }
  a:hover {
    color: green;
    opacity: 0.7;
  }
  @include mQ(1400px){
    justify-content: space-between;
    width: 1000px;
    margin: 0 auto;
  }
}

.amcu-main-image {
  text-align: center;
  @include center-enabler;
}

.amcu-main-text {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  font-style: italic;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  padding: 15px 15px;
  background: rgba(0,0,0,0.5);
  @include mQ(1400px){
    font-size: 70px;
  }
}

.amcu-main {
  max-width: 800px;
  @include mQ(1400px){
    max-width: 80%;
    max-height: 590px;
  }
}

.amcu-header {
  font-size: 48px;
  font-weight: bold;
  text-align: center;
  color: #ff7842;
  @include mQ(1400px){
    text-align: left;
  }
}

#personality {
  @include mQ(1400px){
    margin-left: 5%;
  }
}

#typeof {
  @include mQ(1400px){
    margin-left: 5%;
  }
}

.amcu-image-spread {
  text-align: center;
  @include mQ(1400px){
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  img {
    max-width: 325px;
    max-height: 206px;
    @include mQ(1400px){
      max-width: 450px;
      max-height: 280px;
    }
  }
  .black-pill {
    margin: 0 auto;
    max-width: 400px;
  }
  p {
    text-align: left;
    margin: 2% 2%;
  }
}

// Specific to how-to-join.html //

.htj-initial-grid {
  text-align: center;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  @include mQ(1400px){
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  img {
    max-width: 400px;
  }
  #htj-lefty {
    @include mQ(1400px){
      text-align: right;
    }
  }
  #hidden-plane {
    display: none;
    @include mQ(1400px){
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 160px;
      }
    }
  }
}

.htj-double-column {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include mQ(1400px){
    display: grid;
    grid-template-columns: 1fr 1fr;
    p {
      text-align: left;
      align-self: center;
      padding: 0 2%;
    }
  }
  .htj-first-section {
    max-width: 380px;
    @include mQ(1400px){
      max-width: 800px;
    }
  }
  .htj-first-column {
    @include mQ(1400px){
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
    }
  }
  .htj-second-section {
    max-width: 380px;
    @include mQ(1400px){
      max-width: 800px;
    }
  }
  .htj-second-column {
    @include mQ(1400px){
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
    }
  }
  .pic-move {
    @include mQ(1400px){
      grid-column-start: 2;
      grid-row-start: 2;
    }
  }
  img {
    max-width: 400px;
    @include mQ(1400px){
      max-width: 320px;
    }
  }
}
